.body {
  font-size: 25px;
  color: black;
  background: #f5f5f5;
}

.App-header {
  text-align: center;
}

.App-header .App-link {
  border: 1px solid #6fc237;
  padding: 6px;
  width: 8rem;
  background-color: #6fc237;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

@keyframes dropTop {
  0% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
